.list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.list .card {
  width: 20%;
  height: 30px;
  line-height: 30px;
  background-color: #5a78fb;
  list-style: none;
  margin: 10px;
  text-align: center;
  color: white;
}

.box {
  width: 80%;
  border: 1px solid #5a78fb;
  height: 50px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.cardIn {

  background-color: pink;
  margin: 4px;


}
